/* mobile */
[class*="col-"] {
    width: 100%;
}

/* tablets */
@media only screen and (min-width: 600px){
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}

}

/* desktops */

@media only screen and (min-width: 768px){

#wrapper {width: 768px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



}

@media only screen and (min-width: 1024px){

#wrapper {width: 1024px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
}



.row::after {
    content: "";
    clear: both;
    display: table;
}

body {
  box-sizing: border-box;

    background: -webkit-linear-gradient(left, rgb(15,151,173), lightcyan, rgb(15,151,173)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgb(15,151,173), lightcyan, rgb(15,151,173)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgb(15,151,173), lightcyan, rgb(15,151,173)); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right,rgb(15,151,173), lightcyan,  rgb(15,151,173)); /* Standard syntax (must be last) */

    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-size: 100%;


}

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
    font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

#header img {
    padding: 1em 0 1em 2em;
    width: 50%;
    max-width: 100%;
    height: auto;
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
}

#header {
  background: white;
}

#mainScreen {
  background: no-repeat white url("img/bg_suppenkasperln.png");
  position: relative;
vertical-align: top;
  width: 1024px;
  height: 558px;
}

#table{
  user-select: none;
  content: url("img/table.png");
  position: absolute;
  z-index: 10;
  left: 8em;
  bottom: 30%;
  height: 8em;

}

#chairLeft, #chairRight { bottom: 32%;}

#chairLeft { left: 4em; }
#chairLeftMiddle {left: 11em;}
#chairMiddle {left: 18em;}
#chairRightMiddle {left: 25em;}
#chairRight {left: 32em;}


/*
.chair{

  position: absolute;
  z-index: 2;
  bottom: 37%;
  height: 9em;
}*/

.chair {
  position: absolute;
  z-index: 2;
  bottom: 37%;
  height: 9em;
}

.chair img {
  position: absolute;
  z-index: 2;

}

#mainScreen>div>h1{
  position: absolute;
  top: -1.5em;
  right: 2em;
}

.active{
  display: block;
}


#eaters h1, #eatersAll h1{
  color: rgb(105,168,64);
}

#ingredients h1{
  color: rgb(220,144,21);
}

#recipes h1{
  color: rgb(15,151,173);
}

#eaters:not(.active){
  display:none;
}

#eatersAll:not(.active){
  display:none;
}

#ingredients:not(.active){
  display:none;
}

#recipes:not(.active){
  display:none;
}

#recipeDetail:not(.active){
  display:none;
}

#recipeDetail{

}

#ingredients{
  width: 30%;
  margin-left: 67%;
  padding-top: 2em;
  max-height: 400px;

/*
  right: 2em;
  top: 2em;
  width: 30%;
  height: 400px;
  bottom: 12em;
*/

}

#ingredients>div{
/*  position: absolute;*/
  top: 2em;
  right: 1.5em;
  left: auto;
  bottom: 15em;
  width: 100%;
  z-index: 3;

}

#dropIngredients{
  position: absolute;
  height: 25%;
  width:30%;
  bottom: 0.5em;
  left: 3.5em;

  z-index: 0;

}





#ingredientAccordion .ui-accordion-content{
  max-height: 100px;
  background-color: none;
  /*width: 100%;*/
}

.ingredient{
  position: static;
  float: left;
  margin: 0.5em;
  height: 2em;
}

.ingredientDraggable{
  position: absolute;
  z-index: 10;
  height: 5em;
}

.ingredientDropped{

  z-index: 10;
  height: 3em;
  margin: 0.7em;
}

.ingredientName{
  position: absolute;
  border: #eee solid thin;
  background-color: #fff;
}

#eaters{
  position: relative;
  width: 30%;
  margin-left: 67%;
  padding-top: 1em;
  height: 390px;
}

#eaters button{
  float: right;
}




#eaterOrigin{
  position: absolute;
  top: 2em;
  right: 1.5em;
  width: 33%;
  bottom: 30%;
  background-color: white;
  z-index: 3;

}

#eaterOrigin .originAvatar{
  position: static !important;
  margin: 0.5em;
  height: 8em;
  float: left;


}

.tinyAvatar:hover, .originAvatar:hover {
  background-color: rgba(15,151,173,0.2);
}

.sittingAvatar:hover {


}




.avatar{
  position: static;
  float: left;
  margin: 0.5em;
  height: 6em;
}

.avatarDraggable{
  position: absolute;
  z-index: 10;
  height: 12em;
}

.avatarDropped{
position: absolute;
  z-index: 10;
  height: 12em;
  margin: 0.7em;
}


.tinyAvatar{
  position: absolute !important;
  z-index: 5;
  height: 8em;
}

.sittingAvatar{
  position: absolute !important;
  z-index: 5;
  height: 12em;
}





div#likes img, div#dislikes img, div#allergens img{

  position: absolute;
  height: 2em;
  top: -1em;
  left: 40%;
  z-index: 5;
}

div#likes, div#dislikes, div#allergens{

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  position: relative;
  z-index: 5;

  float: left;
  margin: 1%;
  width: 30%;
  min-height: 150px;
  margin-top: 50%;

}

div#likes {
  background: rgba(220,144,21,0.3);
}

div#dislikes{
  background: rgba(15,151,173,0.3);

}

div#allergens{
  background: rgba(162,24,36,0.3);
}



div#eaterOptions{
  position: relative;
  top: 1em;
  margin-bottom: 2em;

}

div#eaterPreferences{
  width: 100%;
  position: absolute;
  bottom: 1em;


}

#detailAvatar{

  position: absolute;
  height:9em;
  right:40%;
  z-index: 5;

}

#eaterName{
  position: absolute;
  top: 12em;
  right: 30%;
  z-index: 7;
  border: 1px dashed rgb(105,168,64);
  border-radius: 4px;
  text-align: center;
  background-color: rgba(105,168,64,0.3);
}

#eaterName:focus{
  background-color: rgba(105,168,64,0.5);
}



#dropRecipes {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,255,255,0.5) url('img/drag_drop.png') center no-repeat;
  background-size: 15%;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  margin: 0.7em;
  height: 22%;
}

#fileCheckboxes{
  border: none;
}

#footer {
  padding-left: 1%;
  background: grey;
  color: lightgrey;
  height: 1.2em;
}

ul {
  margin: 0;
  padding: 0;
  position:absolute;
  top: 2px;
  left: 610px;
}

li.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;


}

li.tab img{
  height: 5em;
}

li.tab:hover {

}

li.tab a{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

li.tabSelected {
  z-index: 999;

}
